[submodule "AndroidLib"]
	path = AndroidLib
	url = git://github.com/xgouchet/AndroidLib.git
[submodule "cardsui-for-android"]
	path = cardsui-for-android
	url = https://github.com/nadavfima/cardsui-for-android.git
